@import url(https://fonts.googleapis.com/css?family=Satisfy);

h1{
    font-family: 'Satisfy';
    color: wheat;
}

body{
    background-color: rgb(13, 42, 54);
}
#header{
    text-align: center;
}
#containerDiv, #buttons, #buttonsDiv, #sliderDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#sliderDiv{
    justify-content: center;
}
#mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
}
#buttonsDiv{
    width: 100%;
}
#containerUnderlay{
    position:absolute;
    background-color: rgba(255, 255, 255, 0);
    z-index: -1;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 88px;
}
#container{
    display: grid;
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 7px 9px 0px 2px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 7px 9px 0px 2px rgba(0,0,0,0);
}
#colorPicker{
    border-radius: 50%;
}

#sizeSlider{
    width: 400px;
}