#header{
    text-align: center;
}
#mainDiv{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#buttons{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 500px;
}
#container{
    display: grid;
    width: 500px;
    height: 500px;
    border: solid 1px black;
}